#map { 
  height: 360px;
  width: 630px;
}

body {
    padding: 25px;
    background-color: rgb(18, 18, 18);
    color: white;
    font-size: 25px;
  }
  
.light-mode {
  background-color: white;
  color: black;
}

.lightModeSelectDark {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  background-color: rgb(31 41 55);
  color: white;
  width: 12rem;
  align-items: center;
}

.lightModeSelectLight {
  display: flex;
  justify-content: space-evenly;
  border-radius: 0.5rem;
  background-color: rgb(229 231 235);
  color: black;
  width: 12rem;
  align-items: center;
}

